<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- <string name="cors_proxy_url"></string>
    <string name="cors_proxy_secret"></string>
    <string name="player_runtime_base_url"></string> -->
</resources>